@font-face {
  font-family: "light";
  src: url("../fonts/Poppins-Light.otf");
}
@font-face {
  font-family: "regular";
  src: url("../fonts/Poppins-Regular.otf");
}
@font-face {
  font-family: "medium";
  src: url("../fonts/Poppins-Medium.otf");
}
@font-face {
  font-family: "semibold";
  src: url("../fonts/Poppins-SemiBold.otf");
}
@font-face {
  font-family: "bold";
  src: url("../fonts/Poppins-Bold.otf");
}
.navbar {
  display: flex;
  justify-content: space-between;
}
.navbar .search {
  display: flex;
  align-items: center;
  -webkit-margin-start: 2rem;
          margin-inline-start: 2rem;
  width: 100%;
}
.navbar .search input {
  font-family: "light";
  font-size: 0.8rem;
  -webkit-margin-start: 0.5rem;
          margin-inline-start: 0.5rem;
  border: unset;
}
.navbar .search input:focus {
  box-shadow: none;
  border-color: unset;
}
.navbar .btn {
  background: transparent;
  border-color: transparent;
  color: #000;
  font-family: "regular";
  font-size: 0.8rem;
}
.navbar .btn:focus {
  box-shadow: none;
}
.navbar .menu {
  border: 1.5px solid var(--color-primary);
  border-radius: 5px;
  padding: 0.5rem;
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  font-size: 1.3rem;
}
.navbar .admin_img {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  margin: 0 0.5rem;
}
.navbar .dropdown-menu.show {
  padding: 0;
  left: -80px;
}
.navbar .dropdown-item {
  text-align: start;
  font-family: "regular";
  font-size: 0.8rem;
  margin: 0.5rem 0;
  cursor: pointer;
}
.navbar .dropdown-item img {
  width: 25px;
  height: 25px;
  -webkit-margin-end: 0.5rem;
          margin-inline-end: 0.5rem;
}

.sidebar.open, .sidebar.opened {
  transition: 0.7s;
  width: 15%;
  margin-right: 0%;
}
.sidebar.open .image_logo .logo, .sidebar.opened .image_logo .logo {
  width: 60%;
}
.sidebar.open .nav-pills .nav-link, .sidebar.opened .nav-pills .nav-link {
  text-align: start;
}
.sidebar.open .nav-pills .nav-link svg.dot, .sidebar.opened .nav-pills .nav-link svg.dot {
  color: #828C8D;
  font-size: 0.5rem;
  -webkit-margin-start: 1.5rem;
          margin-inline-start: 1.5rem;
}
.sidebar.open .nav-pills .nav-link span, .sidebar.opened .nav-pills .nav-link span {
  display: inline-block;
}
.sidebar.open .nav-pills .nav-link img, .sidebar.opened .nav-pills .nav-link img {
  display: inline !important;
  margin: 0 !important;
}
.sidebar.open .nav-pills .accordion-button svg, .sidebar.opened .nav-pills .accordion-button svg {
  display: block;
}
.sidebar.open .contact_us, .sidebar.opened .contact_us {
  display: flex;
}

.sidebar.open ~ .index_cards, .sidebar.opened ~ .index_cards {
  width: 85%;
  transition: 1s ease-in-out;
}

.sidebar ~ .index_cards {
  width: 100%;
  transition: 1s ease-in-out;
}

.index_cards {
  padding: 0;
  background-color: #fff;
  position: relative;
}

.sidebar {
  display: block;
  margin-right: 0%;
  width: 5%;
  transition: 0.7s;
  background-color: #fff;
  min-height: 100vh;
  padding: 2rem 0;
}
.sidebar .image_logo {
  width: 100%;
}
.sidebar .image_logo .logo {
  width: 100%;
  margin: 0 auto 1rem;
  display: block;
  padding: 0 1.5rem;
}
.sidebar .accordion-button {
  width: 100%;
  font-family: "semibold";
  padding: 0;
}
.sidebar .accordion-button::after {
  margin-right: auto;
  margin-left: 0;
  width: 1rem;
  height: 1rem;
  background-size: 1rem;
  filter: brightness(0) invert(1);
}
.sidebar .nav-pills {
  width: 100%;
  font-family: "semibold";
  padding: 0;
}
.sidebar .nav-pills .accordion-button {
  display: block;
}
.sidebar .nav-pills .accordion-button.collapsed {
  background-color: transparent !important;
  box-shadow: none;
}
.sidebar .nav-pills .accordion-button.collapsed svg {
  transform: rotate(180deg);
}
.sidebar .nav-pills .accordion-button svg {
  float: right;
  font-size: 1.1rem;
  margin-top: 0.2rem;
  color: #828C8D;
  transform: rotate(0deg);
  display: none;
}
.sidebar .nav-pills .accordion-button:focus {
  border-color: unset;
  box-shadow: none;
}
.sidebar .nav-pills .accordion-button:not(.collapsed) {
  color: var(--color-primary);
  transition: 0.7s ease-in-out;
}
.sidebar .nav-pills .accordion-button:not(.collapsed) img {
  filter: invert(35%) sepia(85%) saturate(875%) hue-rotate(180deg) brightness(40%) contrast(95%);
}
.sidebar .nav-pills .accordion-button:not(.collapsed)::after {
  margin-right: auto;
  margin-left: 0;
  width: 1rem;
  height: 1rem;
  background-size: 1rem;
  filter: invert(22%) sepia(73%) saturate(852%) hue-rotate(169deg) brightness(87%) contrast(96%);
}
.sidebar .nav-pills .nav-item {
  width: 100%;
  margin: 0.3rem 0;
}
.sidebar .nav-pills .nav-item ul {
  list-style: none;
  font-size: 0.9rem;
  margin: 0;
  padding: 0;
}
.sidebar .nav-pills .nav-item ul .close {
  display: none;
}
.sidebar .nav-pills .nav-item ul li .nav-link span {
  color: #828C8D;
}
.sidebar .nav-pills .nav-item ul .nav-link.active {
  -webkit-border-end: 0;
          border-inline-end: 0;
}
.sidebar .nav-pills .nav-item .nav-link {
  padding: 1rem 1.2rem;
  font-size: 0.85rem;
  background-color: transparent;
  margin-bottom: 0;
}
.sidebar .nav-pills .nav-item .nav-link img {
  width: 25px;
  height: 25px;
  display: block;
  margin: 0 auto;
}
.sidebar .nav-pills .nav-item .nav-link.active {
  background-color: rgba(255, 255, 255, 0.12);
  -webkit-border-end: 3px solid #E4AA3C;
          border-inline-end: 3px solid #E4AA3C;
  border-radius: 0;
}
.sidebar .nav-pills .nav-item .nav-link.active span {
  color: #E4AA3C;
}
.sidebar .nav-pills .nav-item .nav-link.active img {
  filter: invert(60%) sepia(40%) saturate(3280%) hue-rotate(382deg) brightness(100%) contrast(115%);
}
.sidebar .nav-pills .nav-link {
  text-align: center;
}
.sidebar .nav-pills .nav-link span {
  margin: 0 5%;
  color: #828C8D;
  display: none;
  font-size: 0.8rem;
}
.sidebar .contact_us {
  width: 80%;
  margin: 5rem auto 0;
  padding-top: 1.8rem;
  padding-bottom: 1.2rem;
  background-color: #fff;
  border-radius: 30px;
  position: relative;
  display: none;
  flex-direction: column;
  align-items: center;
}
.sidebar .contact_us svg {
  position: absolute;
  top: -12%;
  font-size: 1.3rem;
  padding: 0.5rem;
  border-radius: 8px;
  color: #058A94;
  background-color: #E8EFED;
}
.sidebar .contact_us p {
  font-family: "semibold";
  color: #171717;
  font-size: 0.8rem;
  text-align: center;
  width: 90%;
  margin: 1rem auto 0;
}
.sidebar .contact_us p a {
  text-decoration: none;
  color: #058A94;
}
.sidebar .contact_us .btn {
  background-color: #058A94;
  color: #fff;
  font-size: 0.8rem;
  border-radius: 15px;
  width: 80%;
  margin: 1rem auto 0;
  font-family: "semibold";
}
.sidebar .contact_us .btn:hover {
  border-color: transparent;
}

/* ====== small laptop style ====== */
@media only screen and (max-width: 1200px) {
  .sidebar {
    margin-right: 0%;
    width: 10%;
  }
  .sidebar .image_logo .logo {
    width: 85%;
  }
  .sidebar.open span {
    font-size: 0.7rem;
  }
  .sidebar.open .nav-pills .nav-item .nav-link {
    padding: 1rem 0.5rem;
  }
}
@media only screen and (max-width: 991.98px) {
  .navbar .menu {
    display: none;
  }
  .sidebar {
    margin-right: -30%;
    width: 30%;
  }
  .sidebar .contact_us {
    display: none !important;
  }
  .sidebar.open ~ .index_cards {
    width: 100%;
  }
  .sidebar.open {
    width: 100%;
    min-height: -webkit-fit-content;
    min-height: -moz-fit-content;
    min-height: fit-content;
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
    padding: 0;
    background-color: rgb(0, 0, 0);
    position: fixed;
    bottom: 0;
    z-index: 9999;
  }
  .sidebar.open .nav-pills {
    flex-direction: row !important;
  }
  .sidebar.open .nav-pills .nav-item {
    width: 14.28%;
    margin: 0;
  }
  .sidebar.open .nav-pills .nav-item .collapse.show, .sidebar.open .nav-pills .nav-item .collapsing {
    position: fixed;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 0;
    bottom: 0;
    z-index: 999;
    right: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.5411764706);
  }
  .sidebar.open .nav-pills .nav-item .collapse.show li, .sidebar.open .nav-pills .nav-item .collapsing li {
    margin-bottom: 1rem;
    padding: 0.5rem 0;
    display: flex;
    width: 100%;
  }
  .sidebar.open .nav-pills .nav-item .collapse.show li .nav-link, .sidebar.open .nav-pills .nav-item .collapsing li .nav-link {
    width: 100%;
    background-color: rgba(33, 118, 94, 0.7529411765);
  }
  .sidebar.open .nav-pills .nav-item .collapse.show li .nav-link svg, .sidebar.open .nav-pills .nav-item .collapsing li .nav-link svg {
    font-size: 1rem;
  }
  .sidebar.open .nav-pills .nav-item .collapse.show li .nav-link span, .sidebar.open .nav-pills .nav-item .collapsing li .nav-link span {
    display: inline;
    margin: 0 1rem;
    font-size: 1rem;
  }
  .sidebar.open .nav-pills .nav-item .collapse.show .close, .sidebar.open .nav-pills .nav-item .collapsing .close {
    position: absolute;
    top: 5%;
    right: 5%;
    background-color: #000;
    width: 35px;
    height: 35px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .sidebar.open .nav-pills .nav-item .collapse.show .close svg, .sidebar.open .nav-pills .nav-item .collapsing .close svg {
    color: #fff;
  }
  .sidebar.open .nav-pills .nav-item .nav-link {
    padding: 0.5rem 0;
    margin-bottom: 0;
  }
  .sidebar.open .nav-pills .nav-item .nav-link img {
    display: block !important;
    margin: 0 auto !important;
  }
  .sidebar.open .nav-pills .nav-item .nav-link span {
    display: block;
    text-align: center;
    margin: 0.5rem 0 0;
    font-size: 0.6rem;
  }
  .sidebar.open .nav-pills .nav-item .nav-link.active {
    -webkit-border-end: 0;
            border-inline-end: 0;
    background-color: #058A94;
  }
  .sidebar.open .nav-pills .image_logo {
    width: 100%;
    display: none;
  }
  .sidebar.open .nav-pills .accordion-button svg {
    display: none;
  }
  .sidemobile {
    flex-direction: column;
  }
}
@media only screen and (max-width: 600px) {
  .sidebar.open .nav-pills .nav-item .nav-link span {
    font-size: 0.4rem;
  }
}
.register .register_head {
  background-color: #058A94;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  min-height: 100vh;
  height: 100%;
  position: relative;
}
.register .register_head .register_img {
  width: 75%;
  display: block;
  margin: 0 auto 5rem;
  z-index: 9;
}
.register .register_head .password_verification_img {
  width: 45%;
  height: 550px;
  display: block;
  margin: 0 auto 5rem;
  z-index: 9;
}
.register .register_head h5 {
  color: #fff;
  font-family: "medium";
  text-align: center;
  margin: 0 auto;
  width: 70%;
  z-index: 9;
}
.register .register_head p {
  color: #fff;
  font-family: "regular";
  text-align: center;
  margin: 1rem auto 0;
  width: 70%;
  font-size: 0.8rem;
  z-index: 9;
}
.register .register_head .register_shape {
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: 1;
  opacity: 0.05;
  width: 100%;
}
.register .register_card {
  height: 80vh;
  margin: 10vh 0;
  width: 70%;
  -webkit-margin-start: 10% !important;
          margin-inline-start: 10% !important;
  -webkit-margin-end: 20% !important;
          margin-inline-end: 20% !important;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.register .register_card lottie-player {
  width: 80px;
  height: 80px;
  margin-bottom: 0.5rem;
}
.register .register_card h4 {
  color: #011C1E;
  font-family: "medium";
}
.register .register_card p {
  color: #828C8D;
  font-family: "regular";
  margin-bottom: 3rem;
  font-size: 0.9rem;
}
.register .register_card .form-group {
  margin-bottom: 1rem;
  position: relative;
  /* Chrome, Safari, Edge, Opera */
  /* Firefox */
}
.register .register_card .form-group svg {
  position: absolute;
  top: 60%;
  left: 1%;
  color: #B0B9B9;
}
.register .register_card .form-group label {
  font-family: "regular";
  color: #011C1E;
  margin-bottom: 0.5rem;
  font-size: 0.9rem;
}
.register .register_card .form-group input {
  -webkit-padding-start: 2rem !important;
          padding-inline-start: 2rem !important;
  font-family: "regular";
  color: #B0B9B9;
  font-size: 0.8rem;
  padding: 0.75rem 1.5rem;
}
.register .register_card .form-group input::-webkit-outer-spin-button,
.register .register_card .form-group input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
.register .register_card .form-group input[type=number] {
  -moz-appearance: textfield;
}
.register .register_card .form-group .togglePassword {
  position: absolute;
  top: 47%;
  right: 0;
}
.register .register_card .form-group .togglePassword svg {
  position: unset;
}
.register .register_card .form-group .togglePassword:hover, .register .register_card .form-group .togglePassword:focus {
  border-color: transparent;
}
.register .register_card .form-group .number-code {
  display: flex;
}
.register .register_card .form-group .number-code input {
  width: 16%;
  -webkit-margin-end: 1%;
          margin-inline-end: 1%;
  -webkit-padding-start: 0.5rem !important;
          padding-inline-start: 0.5rem !important;
  -webkit-padding-end: 0.5rem !important;
          padding-inline-end: 0.5rem !important;
  height: 75px;
  font-size: 2rem;
  text-align: center;
}
.register .register_card .form-group .number-code input:last-child {
  -webkit-margin-end: 0;
          margin-inline-end: 0;
}
.register .register_card .form-group .receive_code {
  display: block;
  width: 100%;
  text-align: end;
  margin-top: 1rem;
  margin-bottom: 3rem;
  text-decoration: none;
  font-family: "regular";
  color: #011C1E;
}
.register .register_card .resend_code {
  background-color: #E4AA3C;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
}
.register .register_card .resend_code p {
  font-family: "regular";
  color: #fff;
  width: 50%;
  margin-bottom: 0;
}
.register .register_card .resend_code .btn {
  background-color: #fff;
  color: #011C1E;
  font-family: "medium";
  font-size: 0.8rem;
  padding: 0.75rem 1rem;
}
.register .register_card .resend_code .btn:hover {
  border-color: transparent;
}
.register .register_card .form-check {
  color: #596364;
  font-family: "regular";
  margin-bottom: 1rem;
}
.register .register_card .forget_password {
  font-family: "regular";
  color: #011C1E;
  text-decoration: none;
}
.register .register_card .submit_btn {
  background-color: #058A94;
  color: #fff;
  font-family: "medium";
  padding: 1rem;
  font-size: 0.9rem;
  width: 100%;
  margin-top: 0.7rem;
}
.register .register_card .submit_btn:hover {
  border-color: transparent !important;
}
.register .register_card .have_login {
  color: #596364;
  font-family: "medium";
  text-align: center;
  font-size: 1rem;
  margin-top: 4rem;
}
.register .register_card .have_login a {
  color: #058A94;
  text-decoration: none;
}
.register .password_verification {
  width: 50%;
}

.reset_password {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
.reset_password .card_reset_password {
  width: 50%;
  margin: 0 auto;
  border: 0.7px solid #989898;
  padding: 4rem;
  border-radius: 8px;
}
.reset_password .card_reset_password h4 {
  font-family: "medium";
  text-align: center;
  color: #011C1E;
}
.reset_password .card_reset_password p {
  font-family: "regular";
  color: #828C8D;
  text-align: center;
  width: 60%;
  margin: 0 auto;
  font-size: 0.8rem;
}
.reset_password .card_reset_password .form-group {
  margin-bottom: 1rem;
  position: relative;
}
.reset_password .card_reset_password .form-group label {
  font-family: "regular";
  color: #011C1E;
  margin-bottom: 0.5rem;
  font-size: 0.9rem;
}
.reset_password .card_reset_password .form-group input {
  -webkit-padding-start: 2rem !important;
          padding-inline-start: 2rem !important;
  font-family: "regular";
  color: #B0B9B9;
  font-size: 0.8rem;
  padding: 0.75rem 1.5rem;
}
.reset_password .card_reset_password .form-group svg {
  position: absolute;
  top: 60%;
  left: 2%;
  color: #B0B9B9;
}
.reset_password .card_reset_password .form-group .togglePassword {
  position: absolute;
  top: 47%;
  right: 0;
}
.reset_password .card_reset_password .form-group .togglePassword svg {
  position: unset;
}
.reset_password .card_reset_password .form-group .togglePassword:hover, .reset_password .card_reset_password .form-group .togglePassword:focus {
  border-color: transparent;
}
.reset_password .card_reset_password .submit_btn {
  background-color: #058A94;
  color: #fff;
  font-family: "medium";
  font-size: 0.8rem;
  padding: 0.75rem 1.5rem;
  margin-top: 1rem;
  width: 100%;
}

@media only screen and (max-width: 991.98px) {
  .register .register_head {
    background-color: #058A94;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    min-height: -webkit-fit-content;
    min-height: -moz-fit-content;
    min-height: fit-content;
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
    position: relative;
    padding: 3rem 0;
  }
  .register .register_head .register_img {
    width: 75%;
    display: block;
    margin: 0 auto 5rem;
    z-index: 9;
  }
  .register .register_head h5 {
    width: 90%;
  }
  .register .register_head p {
    width: 90%;
  }
  .register .register_card {
    width: 80%;
    -webkit-margin-end: 10% !important;
            margin-inline-end: 10% !important;
    -webkit-margin-start: 10% !important;
            margin-inline-start: 10% !important;
    height: 90%;
    margin: 5% 0;
  }
  .register .register_card .form-group svg {
    left: 2%;
  }
  .register .register_card .have_login {
    font-size: 0.8rem;
  }
}
@media only screen and (max-width: 600px) {
  .register .register_head .password_verification_img {
    height: 300px;
  }
  .register .register_card .form-group input {
    -webkit-padding-start: 1.7rem !important;
            padding-inline-start: 1.7rem !important;
  }
  .register .register_card .form-check {
    font-size: 0.8rem;
  }
  .register .register_card .forget_password {
    font-size: 0.8rem;
  }
}
body {
  overflow-x: hidden;
  direction: ltr;
}

.accordion-button {
  text-align: start !important;
}

.chart-container {
  height: 70vh;
  width: 100%;
  position: relative;
}

table tbody tr td {
  vertical-align: middle;
}

.swal2-title {
  font-family: "semibold";
  font-size: 0.9rem !important;
  margin: 0 !important;
}

.swal2-html-container {
  font-family: "regular";
  font-size: 0.8rem !important;
  width: 90% !important;
  margin: 1rem auto 0 !important;
}
.swal2-html-container .need_help {
  font-family: "medium";
  color: #596364;
  margin-top: 1.5rem;
  display: block;
}
.swal2-html-container .need_help a {
  font-family: "medium";
  text-decoration: none;
  color: #058A94;
}

.swal2-container.swal2-center > .swal2-popup {
  padding: 1.5rem;
}

.show_project_swal {
  background-color: #058A94;
  color: #fff;
  font-size: 0.8rem;
  font-family: "semibold";
  padding: 0.75rem 2rem;
  margin-top: 1rem;
}

.show_project_swal:active, .show_project_swal:focus {
  background-color: #058A94;
  border-color: transparent;
  color: #fff;
  font-size: 0.8rem;
  font-family: "semibold";
  padding: 0.75rem 2rem;
  margin-top: 1rem;
}

.show_project_swal:hover {
  border-color: transparent;
  background-color: #058A94;
  color: #fff;
}

.index_cards div.dataTables_wrapper div.dataTables_filter input {
  -webkit-margin-start: 1rem;
          margin-inline-start: 1rem;
}
.index_cards div.dataTables_wrapper div.dataTables_length select {
  margin: 0 0.5rem;
}
.index_cards .active > .page-link,
.index_cards .page-link.active {
  background-color: #058A94;
  border-color: #058A94;
}
.index_cards .pagination {
  --bs-pagination-border-radius: 0;
}
.index_cards .title_head {
  font-family: "semibold";
  color: #011c1e;
  margin-bottom: 0;
}
.index_cards .btn:hover, .index_cards .btn:focus, .index_cards .btn:active {
  border-color: transparent;
}
.index_cards .content {
  background-color: #F7F7F7;
  padding: 5rem 1rem;
  min-height: 100vh;
  height: 100%;
}
.index_cards .content .title_section {
  font-family: "medium";
  color: #011C1E;
  margin-bottom: 2rem;
}
.index_cards .content .btn_title_page {
  font-family: "semibold";
  background-color: #058A94;
  color: #fff;
  border-radius: 12px;
  font-size: 0.8rem;
  margin-bottom: 2rem;
  padding: 0.75rem 1.5rem;
  transition: 0.7s ease-in-out;
}
.index_cards .content .btn_title_page:hover {
  background-color: transparent;
  border: 1px solid #058A94;
  color: #058A94;
  transition: 0.7s ease-in-out;
}
.index_cards .content .empty {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #fff;
  padding: 2rem;
  border-radius: 20px;
}
.index_cards .content .empty h6 {
  color: #102b21;
  margin: 1rem 0;
  font-family: "semibold";
}
.index_cards .content .empty p {
  color: #828282;
  font-family: "semibold";
  width: 30%;
  font-size: 0.8rem;
  margin: 0 auto;
  text-align: center;
}
.index_cards .content .empty .btn {
  background-color: #058A94;
  color: #fff;
  font-family: "semibold";
  font-size: 0.8rem;
  padding: 0.75rem 2.5rem;
  margin-top: 1rem;
  border-radius: 10px;
}
.index_cards .content .empty img {
  width: 20%;
}
.index_cards .content .nav-pills {
  width: 30%;
  -webkit-padding-end: 5%;
          padding-inline-end: 5%;
}
.index_cards .content .nav-pills h4 {
  font-family: "medium";
  color: #011C1E;
}
.index_cards .content .nav-pills p {
  font-family: "regular";
  color: #828C8D;
  font-size: 0.8rem;
}
.index_cards .content .nav-pills .nav-link {
  font-family: "regular";
  color: #B0B9B9;
  text-align: start;
  padding: 1rem 1rem;
  border-radius: 0;
}
.index_cards .content .nav-pills .nav-link svg {
  color: #B0B9B9;
  -webkit-padding-end: 1rem;
          padding-inline-end: 1rem;
}
.index_cards .content .nav-pills .nav-link.active {
  background-color: rgba(228, 170, 60, 0.1);
  color: #011C1E;
}
.index_cards .content .nav-pills .nav-link.active svg {
  color: #E4AA3C;
}
.index_cards .content .tab-content {
  width: 100%;
}
.index_cards .content .tab-content .tab-pane {
  background-color: #fff;
  padding: 3rem;
}
.index_cards .content .tab-content h5 {
  font-family: "medium";
  color: #011C1E;
  margin-bottom: 2rem;
}
.index_cards .content .tab-content .avatar-upload {
  position: relative;
  max-width: 205px;
}
.index_cards .content .tab-content .avatar-upload .avatar-edit input {
  display: none;
}
.index_cards .content .tab-content .avatar-upload .avatar-edit input + label {
  display: block;
  width: 100%;
  padding: 0.7rem 0;
  text-align: center;
  margin: 1rem 0 0;
  font-size: 0.8rem;
  font-family: "semibold";
  color: #058A94;
  border: 1px solid #058A94;
  background: #FFFFFF;
  box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.12);
  cursor: pointer;
  font-weight: normal;
  transition: all 0.2s ease-in-out;
}
.index_cards .content .tab-content .avatar-upload .avatar-edit input + label:hover {
  background: #f1f1f1;
  border: 1px solid #058A94;
}
.index_cards .content .tab-content .avatar-upload .avatar-preview {
  width: 200px;
  height: 200px;
  position: relative;
  background-color: #EBEBEB;
}
.index_cards .content .tab-content .avatar-upload .avatar-preview .imagePreview {
  width: 100%;
  height: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
.index_cards .content .tab-content .data {
  width: 75%;
  -webkit-margin-start: 3rem;
          margin-inline-start: 3rem;
}
.index_cards .content .tab-content .data .form-group {
  margin-bottom: 1.5rem;
  position: relative;
  /* Chrome, Safari, Edge, Opera */
  /* Firefox */
}
.index_cards .content .tab-content .data .form-group svg {
  position: absolute;
  top: 62%;
  left: 1%;
  color: #B0B9B9;
  z-index: 2;
}
.index_cards .content .tab-content .data .form-group label {
  font-family: "regular";
  color: #011C1E;
  margin-bottom: 0.5rem;
  display: block;
}
.index_cards .content .tab-content .data .form-group input {
  font-size: 0.8rem;
  padding: 0.75rem;
  color: #B0B9B9;
  font-family: "regular";
  -webkit-padding-start: 2rem;
          padding-inline-start: 2rem;
}
.index_cards .content .tab-content .data .form-group textarea {
  font-size: 0.8rem;
  padding: 0.75rem;
  color: #B0B9B9;
  font-family: "regular";
  resize: none;
}
.index_cards .content .tab-content .data .form-group input::-webkit-outer-spin-button,
.index_cards .content .tab-content .data .form-group input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
.index_cards .content .tab-content .data .form-group input[type=number] {
  -moz-appearance: textfield;
}
.index_cards .content .tab-content .data .form-group .bootstrap-select .dropdown-toggle {
  background-color: transparent;
  border: 1px solid #ced4da;
  font-size: 0.8rem;
  padding: 0.75rem;
  -webkit-padding-start: 2rem !important;
          padding-inline-start: 2rem !important;
}
.index_cards .content .tab-content .data .form-group .bootstrap-select .dropdown-toggle .filter-option-inner-inner {
  color: #B0B9B9;
  font-family: "regular";
}
.index_cards .content .tab-content .data .form-group .dropdown-item {
  font-family: "regular";
  font-size: 0.8rem;
}
.index_cards .content .tab-content .data .form-group .location {
  display: inline-block;
  border: 0.7px solid #cccccc;
  border-radius: 5px;
  padding: 1.2rem 1.5rem;
}
.index_cards .content .tab-content .data .form-group .location svg {
  stroke: #058A94;
  stroke-width: 40px;
  color: transparent;
  display: flex;
  align-items: center;
  justify-content: center;
  position: unset;
  font-size: 1rem;
}
.index_cards .content .tab-content .data .form-group .lat {
  display: inline-block;
  font-family: "regular";
  -webkit-margin-start: 0.5rem;
          margin-inline-start: 0.5rem;
}
.index_cards .content .tab-content .data .submit_btn {
  background-color: #058A94;
  color: #fff;
  font-family: "medium";
  width: 100%;
  font-size: 0.8rem;
  padding: 1rem 0.75rem;
  transition: 0.7s ease-in-out;
}
.index_cards .content .tab-content .data .submit_btn:hover {
  background-color: #fff;
  border: 1px solid #058A94;
  color: #058A94;
  transition: 0.7s ease-in-out;
}
.index_cards .content .tab-content form.data {
  -webkit-margin-start: 0;
          margin-inline-start: 0;
  width: 90%;
}
.index_cards .content .tab-content form.data .col-lg-6 svg {
  left: 2% !important;
}
.index_cards .content .welcome {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.index_cards .content .welcome h5 {
  font-family: "semibold";
  margin-bottom: 2rem;
  display: flex;
  align-items: center;
}
.index_cards .content .welcome h5 lottie-player {
  width: 50px;
  height: 50px;
}
.index_cards .content .welcome .new_job {
  font-family: "semibold";
  background-color: #058A94;
  color: #fff;
  border-radius: 12px;
  font-size: 0.8rem;
  margin-bottom: 2rem;
  padding: 0.75rem 1.5rem;
  float: left;
}
.index_cards .content .welcome .edit_btn {
  font-family: "semibold";
  background-color: #058A94;
  color: #fff;
  border-radius: 12px;
  font-size: 0.8rem;
  margin-bottom: 2rem;
  padding: 0.75rem 1.5rem;
  -webkit-margin-start: 1rem;
          margin-inline-start: 1rem;
  float: left;
}
.index_cards .content .welcome .delete_btn {
  font-family: "semibold";
  border-color: #058A94;
  color: #058A94;
  background-color: transparent;
  border-radius: 12px;
  font-size: 0.8rem;
  margin-bottom: 2rem;
  padding: 0.75rem 1.5rem;
  float: left;
}
.index_cards .content .welcome .modal .modal-dialog {
  max-width: 45%;
  font-family: "regular";
  font-size: 0.8rem;
}
.index_cards .content .welcome .modal .modal-dialog .modal-header {
  border-bottom: none;
}
.index_cards .content .welcome .modal .modal-dialog .modal-header .modal-title {
  margin-bottom: 0;
  font-size: 1rem;
}
.index_cards .content .welcome .modal .modal-dialog .modal-header .modal-title span {
  -webkit-margin-start: 1rem;
          margin-inline-start: 1rem;
}
.index_cards .content .welcome .modal .modal-dialog table {
  margin-top: 2rem !important;
}
.index_cards .content .welcome .modal .modal-dialog table td {
  font-family: "regular";
  color: #011c1e;
  font-size: 0.8rem;
}
.index_cards .content .welcome .modal .modal-dialog table .title {
  font-family: "semibold";
  font-size: 0.9rem;
}
.index_cards .content .welcome .modal .modal-dialog table .menu {
  font-size: 1rem;
}
.index_cards .content .welcome .modal .modal-dialog table .menu .dropdown-toggle::after {
  content: none;
}
.index_cards .content .welcome .modal .modal-dialog table .menu .dropdown-item {
  font-size: 0.8rem;
  text-align: start;
}
.index_cards .content .orders {
  background-color: #fff;
  padding: 2rem;
  border-radius: 20px;
}
.index_cards .content .orders h5 {
  font-family: "medium";
  color: #011C1E;
  margin-bottom: 0;
}
.index_cards .content .orders .dropdown .dropdown-toggle::after {
  content: unset;
}
.index_cards .content .orders .dropdown .dropdown-menu .dropdown-item {
  font-family: "regular";
  font-size: 0.8rem;
}
.index_cards .content .orders .card_order {
  background-color: #FAFAFA;
  width: 48%;
  margin-top: 1rem;
  -webkit-margin-end: 1.5%;
          margin-inline-end: 1.5%;
  border-radius: 6px;
  display: inline-block;
  padding: 1rem;
}
.index_cards .content .orders .card_order .title {
  font-family: "medium";
  color: #011C1E;
  font-size: 0.9rem;
  margin-bottom: 0;
}
.index_cards .content .orders .card_order .status {
  padding: 0.25rem 0.5rem;
  color: #058A94;
  background-color: rgba(5, 138, 148, 0.08);
  font-family: "regular";
  font-size: 0.8rem;
}
.index_cards .content .orders .card_order .position {
  font-family: "regular";
  color: #B0B9B9;
  font-size: 0.8rem;
}
.index_cards .content .orders .card_order .details {
  margin-top: 0.5rem;
  display: flex;
  justify-content: space-between;
}
.index_cards .content .orders .card_order .details .price svg,
.index_cards .content .orders .card_order .details .time svg,
.index_cards .content .orders .card_order .details .posted svg {
  color: #011C1E;
  -webkit-margin-end: 0.5rem;
          margin-inline-end: 0.5rem;
}
.index_cards .content .orders .card_order .details .price span,
.index_cards .content .orders .card_order .details .time span,
.index_cards .content .orders .card_order .details .posted span {
  color: #828C8D;
  font-family: "regular";
  font-size: 0.8rem;
}
.index_cards .content .orders .card_order .description {
  margin: 1rem 0;
  font-family: "regular";
  color: #596364;
  font-size: 0.8rem;
}
.index_cards .content .orders .card_order .job_applicants {
  display: flex;
  align-items: center;
  font-size: 0.8rem;
}
.index_cards .content .orders .card_order .job_applicants svg {
  color: #828C8D;
  -webkit-margin-end: 0.5rem;
          margin-inline-end: 0.5rem;
}
.index_cards .content .orders .card_order .job_applicants span {
  color: #828C8D;
  font-family: "regular";
  margin-bottom: 0;
  -webkit-margin-end: 0.5rem;
          margin-inline-end: 0.5rem;
}
.index_cards .content .orders .card_order .job_applicants p {
  color: #011C1E;
  font-family: "medium";
  margin-bottom: 0;
}
.index_cards .content .employment_rate {
  background-color: #fff;
  padding: 2rem;
  border-radius: 20px;
  margin: 1rem 0;
}
.index_cards .content .employment_rate h5 {
  font-family: "medium";
  color: #011C1E;
  margin-bottom: 0;
}
.index_cards .content .employment_rate .dropdown .dropdown-toggle {
  background-color: rgba(143, 146, 161, 0.05);
  font-family: "regular";
  font-size: 0.8rem;
}
.index_cards .content .employment_rate .dropdown .dropdown-menu .dropdown-item {
  font-size: 0.8rem;
  font-family: "regular";
}
.index_cards .content .departments {
  background-color: #fff;
  padding: 1.5rem;
  border-radius: 20px;
  width: 100%;
  display: inline-block;
}
.index_cards .content .departments .dropdown-toggle::after {
  content: none;
}
.index_cards .content .departments .dropdown-item {
  font-size: 0.8rem;
  text-align: start;
  font-family: "regular";
}
.index_cards .content .departments .card_department {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1.5rem;
}
.index_cards .content .departments .card_department .title {
  font-family: "medium";
  color: #011C1E;
  margin-bottom: 0;
}
.index_cards .content .departments .card_department .tag {
  font-family: "regular";
  color: #828C8D;
  font-size: 0.8rem;
}
.index_cards .content .departments .card_department .circle {
  background-color: #E4AA3C;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 0.8rem;
  font-family: "regular";
  width: 35px;
  height: 35px;
  border-radius: 50%;
}
.index_cards .content .departments .card_department:last-child {
  margin-bottom: 0;
}
.index_cards .content .departments .add_department {
  border: 1px solid #058A94;
  color: #058A94;
  text-decoration: none;
  font-family: "regular";
  width: 100%;
  display: block;
  padding: 0.75rem;
  font-size: 0.8rem;
  border-radius: 5px;
  text-align: center;
  transition: 0.7s ease-in-out;
}
.index_cards .content .departments .add_department:hover {
  background-color: #058A94;
  color: #fff;
  transition: 0.7s ease-in-out;
}
.index_cards .content .visitors_year {
  background-color: #fff;
  padding: 1.5rem;
  border-radius: 20px;
  width: 100%;
  display: inline-block;
}
.index_cards .content .visitors_year .number_visitor_year p {
  margin-bottom: 0;
  font-family: "medium";
  color: #171717;
  font-size: 1.2rem;
}
.index_cards .content .visitors_year .number_visitor_year span {
  font-family: "regular";
  color: #8F92A1;
  font-size: 0.8rem;
}
.index_cards .content .visitors_year .increase {
  color: #E4AA3C;
  font-family: "regular";
}
.index_cards .content .visitors_year .increase svg {
  -webkit-margin-end: 0.5rem;
          margin-inline-end: 0.5rem;
}
.index_cards .content .emplyees_locations {
  background-color: #fff;
  padding: 2rem;
  border-radius: 20px;
  margin: 1rem 0;
}
.index_cards .content .emplyees_locations h5 {
  font-family: "medium";
  color: #011C1E;
  margin-bottom: 0;
}
.index_cards .content .emplyees_locations img {
  width: 90%;
  height: 380px;
  display: block;
  margin: 0 auto;
}
.index_cards .content .emplyees_locations .statistics {
  width: 90%;
  margin: 0 auto;
}
.index_cards .content .emplyees_locations .statistics .increase {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 2rem;
  margin-bottom: 3rem;
}
.index_cards .content .emplyees_locations .statistics .increase .customers p {
  margin-bottom: 0;
  font-family: "regular";
  color: #171717;
  font-size: 1.4rem;
}
.index_cards .content .emplyees_locations .statistics .increase .customers span {
  font-family: "regular";
  color: #8F92A1;
  font-size: 0.8rem;
}
.index_cards .content .emplyees_locations .statistics .increase .increase_number {
  color: #058A94;
  font-family: "regular";
}
.index_cards .content .emplyees_locations .statistics .card_emplyees_locations {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem;
  border-radius: 16px;
  margin-bottom: 1rem;
}
.index_cards .content .emplyees_locations .statistics .card_emplyees_locations:last-child {
  margin-bottom: 0;
}
.index_cards .content .emplyees_locations .statistics .card_emplyees_locations:nth-child(2) {
  background-color: rgba(5, 138, 148, 0.05);
}
.index_cards .content .emplyees_locations .statistics .card_emplyees_locations:nth-child(3) {
  background-color: rgba(228, 170, 60, 0.05);
}
.index_cards .content .emplyees_locations .statistics .card_emplyees_locations:nth-child(4) {
  background-color: rgba(210, 86, 86, 0.05);
}
.index_cards .content .emplyees_locations .statistics .card_emplyees_locations:nth-child(5) {
  background-color: rgba(0, 82, 204, 0.05);
}
.index_cards .content .emplyees_locations .statistics .card_emplyees_locations:nth-child(6) {
  background-color: rgba(109, 204, 0, 0.05);
}
.index_cards .content .emplyees_locations .statistics .card_emplyees_locations:nth-child(7) {
  background-color: rgba(245, 255, 0, 0.05);
}
.index_cards .content .emplyees_locations .statistics .card_emplyees_locations p {
  margin-bottom: 0;
  font-family: "regular";
  color: #171717;
}
.index_cards .content .staff_rate {
  background-color: #fff;
  padding: 1.5rem;
  border-radius: 20px;
  width: 100%;
  display: inline-block;
}
.index_cards .content .staff_rate .dropdown-toggle::after {
  content: none;
}
.index_cards .content .staff_rate .dropdown-item {
  font-size: 0.8rem;
  text-align: start;
  font-family: "regular";
}
.index_cards .content .staff_rate .card_staff_rate {
  width: 23%;
  -webkit-margin-end: 1%;
          margin-inline-end: 1%;
  display: inline-block;
  background-color: #FAFAFA;
  border-radius: 6px;
  padding: 1rem;
}
.index_cards .content .staff_rate .card_staff_rate img {
  width: 70px;
  height: 70px;
  border-radius: 50%;
}
.index_cards .content .staff_rate .card_staff_rate .name {
  margin-top: 0.5rem;
  margin-bottom: 0;
  font-family: "medium";
  color: #011C1E;
  font-size: 1rem;
}
.index_cards .content .staff_rate .card_staff_rate .title {
  font-family: "regular";
  color: #058A94;
  font-size: 0.8rem;
  margin-bottom: 1rem;
  display: block;
}
.index_cards .content .staff_rate .card_staff_rate .time,
.index_cards .content .staff_rate .card_staff_rate .date {
  color: #828C8D;
  font-family: "regular";
  font-size: 0.8rem;
  margin-bottom: 0.5rem;
}
.index_cards .content .empty_departments_page {
  background-color: #fff;
  padding: 5rem 0;
}
.index_cards .content .empty_departments_page img {
  width: 20%;
  display: block;
  margin: 0 auto 2rem;
}
.index_cards .content .empty_departments_page h5 {
  font-family: "medium";
  color: #011C1E;
  text-align: center;
  margin: 1rem 0;
}
.index_cards .content .empty_departments_page p {
  font-family: "regular";
  color: #596364;
  font-size: 0.8rem;
  text-align: center;
  margin: 0 auto;
  width: 30%;
}
.index_cards .content .empty_departments_page .add_department {
  background-color: #058A94;
  color: #fff;
  text-decoration: none;
  font-family: "regular";
  width: 30%;
  margin: 2rem auto 0;
  display: block;
  padding: 0.75rem;
  font-size: 0.8rem;
  border-radius: 5px;
  text-align: center;
  transition: 0.7s ease-in-out;
}
.index_cards .content .empty_departments_page .add_department:hover {
  background-color: #fff;
  border: 1px solid #058A94;
  color: #058A94;
  transition: 0.7s ease-in-out;
}
/* ======= 4K style ======= */
@media (min-width: 1600px) and (max-width: 2600px) {
  .container {
    max-width: 1600px;
  }
}
/* ======= 4K style ======= */
@media only screen and (max-width: 1200px) {
  .index_cards .content .flex-tab {
    flex-direction: column;
  }
  .index_cards .content .flex-tab .nav-pills {
    width: 100%;
    flex-direction: row !important;
    margin-bottom: 1rem;
  }
  .index_cards .content .flex-tab .nav-pills .nav-link {
    width: 48%;
    -webkit-margin-end: 2%;
            margin-inline-end: 2%;
  }
  .index_cards .content .nav-pills {
    -webkit-padding-end: 2%;
            padding-inline-end: 2%;
  }
  .index_cards .content .nav-pills .nav-link {
    font-size: 0.8rem;
    padding: 0.5rem;
  }
  .index_cards .content .tab-content .data .form-group svg {
    left: 2%;
  }
  .index_cards .content .tab-content form.data {
    width: 100%;
  }
  .index_cards .content .tab-content .tab-pane .company_form_info {
    flex-direction: column;
  }
  .index_cards .content .tab-content .avatar-upload {
    margin-bottom: 2rem;
  }
  .index_cards .content .tab-content .data {
    width: 100%;
    -webkit-margin-start: 0;
            margin-inline-start: 0;
  }
}
@media only screen and (max-width: 991.98px) {
  .index_cards .content .emplyees_locations img {
    height: 350px;
    margin-top: 1rem;
  }
  .index_cards .content .emplyees_locations .statistics .card_emplyees_locations {
    width: 48%;
    -webkit-margin-end: 1%;
            margin-inline-end: 1%;
    display: inline-flex;
  }
  .index_cards .content .staff_rate .card_staff_rate {
    width: 48%;
    margin-top: 1rem;
  }
  .index_cards .content .orders .card_order .details {
    flex-direction: column;
  }
  .index_cards .content .orders .card_order .details .price,
.index_cards .content .orders .card_order .details .time,
.index_cards .content .orders .card_order .details .posted {
    margin-bottom: 0.5rem;
  }
  .index_cards .content .orders .card_order .job_applicants {
    font-size: 0.7rem;
  }
}
@media only screen and (max-width: 600px) {
  .tableAllProjects {
    padding: 1rem 1rem 5rem !important;
  }
  .tableAllProjects .dataTables_length {
    position: absolute;
    bottom: 0;
    right: 10%;
    left: 10%;
    width: 80%;
  }
  .sidebar.open .nav-pills .nav-item {
    width: 20%;
  }
  .sidebar.open .nav-pills .nav-item .nav-link span {
    font-size: 0.5rem;
  }
  .sidebar.open .nav-pills .nav-item.disable_mobile {
    display: none;
  }
  .navbar .d-flex.w-25 {
    width: 50% !important;
  }
  .index_cards .content .orders .card_order {
    width: 100%;
    -webkit-margin-end: 0;
            margin-inline-end: 0;
    margin-bottom: 0.5rem;
  }
  .index_cards .content .departments .card_department .department_title {
    width: 70%;
  }
  .index_cards .content .emplyees_locations img {
    height: 200px;
  }
  .index_cards .content .emplyees_locations .statistics .card_emplyees_locations {
    width: 100%;
  }
  .index_cards .content .staff_rate .card_staff_rate {
    width: 100%;
    -webkit-margin-end: 0;
            margin-inline-end: 0;
  }
}/*# sourceMappingURL=style.css.map */