$PrimaryColor: #058A94;
$SecondColor: #E4AA3C;

@font-face {
  font-family: "light";
  src: url("../fonts/Poppins-Light.otf");
}

@font-face {
  font-family: "regular";
  src: url("../fonts/Poppins-Regular.otf");
}

@font-face {
  font-family: "medium";
  src: url("../fonts/Poppins-Medium.otf");
}

@font-face {
  font-family: "semibold";
  src: url("../fonts/Poppins-SemiBold.otf");
}

@font-face {
  font-family: "bold";
  src: url("../fonts/Poppins-Bold.otf");
}

@import "./navBar.scss";
@import "./sideBar.scss";
@import "./auth.scss";

body {
  overflow-x: hidden;
  direction: ltr;
}

.accordion-button {
  text-align: start !important;
}

.chart-container {
  height: 70vh;
  width: 100%;
  position: relative;
}

table tbody tr td {
  vertical-align: middle;
}

.swal2-title {
  font-family: "semibold";
  font-size: .9rem !important;
  margin: 0 !important;
}

.swal2-html-container {
  font-family: "regular";
  font-size: 0.8rem !important;
  width: 90% !important;
  margin: 1rem auto 0 !important;

  .need_help {
    font-family: "medium";
    color: #596364;
    margin-top: 1.5rem;
    display: block;

    a {
      font-family: "medium";
      text-decoration: none;
      color: $PrimaryColor;
    }
  }
}

.swal2-container.swal2-center>.swal2-popup {
  padding: 1.5rem;
}

.show_project_swal {
  background-color: $PrimaryColor;
  color: #fff;
  font-size: 0.8rem;
  font-family: "semibold";
  padding: 0.75rem 2rem;
  margin-top: 1rem;
}

.show_project_swal {

  &:active,
  &:focus {
    background-color: $PrimaryColor;
    border-color: transparent;
    color: #fff;
    font-size: 0.8rem;
    font-family: "semibold";
    padding: 0.75rem 2rem;
    margin-top: 1rem;
  }
}

.show_project_swal:hover {
  border-color: transparent;
  background-color: $PrimaryColor;
  color: #fff;
}

.index_cards {
  // padding: 0;
  // background-color: #fff;
  // width: 100%;
  // position: relative;

  div.dataTables_wrapper div.dataTables_filter input {
    margin-inline-start: 1rem;
  }

  div.dataTables_wrapper div.dataTables_length select {
    margin: 0 0.5rem;
  }

  .active>.page-link,
  .page-link.active {
    background-color: $PrimaryColor;
    border-color: $PrimaryColor;
  }

  .pagination {
    --bs-pagination-border-radius: 0;
  }

  .title_head {
    font-family: "semibold";
    color: #011c1e;
    margin-bottom: 0;
  }

  .btn {

    &:hover,
    &:focus,
    &:active {
      border-color: transparent;
    }
  }

  .content {
    background-color: #F7F7F7;
    padding: 5rem 1rem;
    min-height: 100vh;
    height: 100%;

    .nav-pills {
      width: 30%;
      padding-inline-end: 5%;

      h4 {
        font-family: "medium";
        color: #011C1E;
      }

      p {
        font-family: "regular";
        color: #828C8D;
        font-size: .8rem;
      }

      .nav-link {
        font-family: "regular";
        color: #B0B9B9;
        text-align: start;
        padding: 1rem 1rem;
        border-radius: 0;

        svg {
          color: #B0B9B9;
          padding-inline-end: 1rem;
        }

        &.active {
          background-color: rgba(228, 170, 60, .1);
          color: #011C1E;

          svg {
            color: $SecondColor;
          }
        }
      }
    }

    .tab-content {
      width: 100%;

      .tab-pane {
        background-color: #fff;
        padding: 3rem;
      }

      h5 {
        font-family: "medium";
        color: #011C1E;
        margin-bottom: 2rem;
      }

      .avatar-upload {
        position: relative;
        max-width: 205px;

        .avatar-edit {

          input {
            display: none;

            +label {
              display: block;
              width: 100%;
              padding: .7rem 0;
              text-align: center;
              margin: 1rem 0 0;
              font-size: .8rem;
              font-family: "semibold";
              color: $PrimaryColor;
              border: 1px solid $PrimaryColor;
              background: #FFFFFF;
              box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.12);
              cursor: pointer;
              font-weight: normal;
              transition: all .2s ease-in-out;

              &:hover {
                background: #f1f1f1;
                border: 1px solid $PrimaryColor;
              }
            }
          }
        }

        .avatar-preview {
          width: 200px;
          height: 200px;
          position: relative;
          // box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.1);
          background-color: #EBEBEB;

          .imagePreview {
            width: 100%;
            height: 100%;
            background-size: cover;
            background-repeat: no-repeat;
            background-position: center;
          }
        }
      }

      .data {
        width: 75%;
        margin-inline-start: 3rem;

        .form-group {
          margin-bottom: 1.5rem;
          position: relative;

          svg {
            position: absolute;
            top: 62%;
            left: 1%;
            color: #B0B9B9;
            z-index: 2;
          }

          label {
            font-family: "regular";
            color: #011C1E;
            margin-bottom: .5rem;
            display: block;
          }

          input {
            font-size: .8rem;
            padding: .75rem;
            color: #B0B9B9;
            font-family: "regular";
            padding-inline-start: 2rem;
          }

          textarea {
            font-size: .8rem;
            padding: .75rem;
            color: #B0B9B9;
            font-family: "regular";
            resize: none;
          }

          /* Chrome, Safari, Edge, Opera */
          input::-webkit-outer-spin-button,
          input::-webkit-inner-spin-button {
            -webkit-appearance: none;
            margin: 0;
          }

          /* Firefox */
          input[type=number] {
            -moz-appearance: textfield;
          }

          .bootstrap-select {
            .dropdown-toggle {
              background-color: transparent;
              border: 1px solid #ced4da;
              font-size: .8rem;
              padding: .75rem;
              padding-inline-start: 2rem !important;

              .filter-option-inner-inner {
                color: #B0B9B9;
                font-family: "regular";
              }
            }
          }

          .dropdown-item {
            font-family: "regular";
            font-size: .8rem;
          }

          .location {
            display: inline-block;
            border: 0.7px solid #cccccc;
            border-radius: 5px;
            padding: 1.2rem 1.5rem;

            svg {
              stroke: $PrimaryColor;
              stroke-width: 40px;
              color: transparent;
              display: flex;
              align-items: center;
              justify-content: center;
              position: unset;
              font-size: 1rem;
            }
          }

          .lat {
            display: inline-block;
            font-family: "regular";
            margin-inline-start: 0.5rem;
          }
        }

        .submit_btn {
          background-color: $PrimaryColor;
          color: #fff;
          font-family: "medium";
          width: 100%;
          font-size: .8rem;
          padding: 1rem .75rem;
          transition: .7s ease-in-out;

          &:hover {
            background-color: #fff;
            border: 1px solid $PrimaryColor;
            color: $PrimaryColor;
            transition: .7s ease-in-out;
          }
        }
      }

      form.data {
        margin-inline-start: 0;
        width: 90%;

        .col-lg-6 {
          svg {
            left: 2% !important;
          }
        }
      }
    }

    .welcome {
      display: flex;
      justify-content: space-between;
      align-items: center;

      h5 {
        font-family: "semibold";
        margin-bottom: 2rem;
        display: flex;
        align-items: center;

        lottie-player {
          width: 50px;
          height: 50px;
        }
      }

      .new_job {
        font-family: "semibold";
        background-color: $PrimaryColor;
        color: #fff;
        border-radius: 12px;
        font-size: 0.8rem;
        margin-bottom: 2rem;
        padding: 0.75rem 1.5rem;
        float: left;
      }

      .edit_btn {
        font-family: "semibold";
        background-color: $PrimaryColor;
        color: #fff;
        border-radius: 12px;
        font-size: 0.8rem;
        margin-bottom: 2rem;
        padding: 0.75rem 1.5rem;
        margin-inline-start: 1rem;
        float: left;
      }

      .delete_btn {
        font-family: "semibold";
        border-color: $PrimaryColor;
        color: $PrimaryColor;
        background-color: transparent;
        border-radius: 12px;
        font-size: 0.8rem;
        margin-bottom: 2rem;
        padding: 0.75rem 1.5rem;
        float: left;
      }

      .modal {
        .modal-dialog {
          max-width: 45%;
          font-family: "regular";
          font-size: 0.8rem;

          .modal-header {
            border-bottom: none;

            .modal-title {
              margin-bottom: 0;
              font-size: 1rem;

              span {
                margin-inline-start: 1rem;
              }
            }
          }

          table {
            margin-top: 2rem !important;

            td {
              font-family: "regular";
              color: #011c1e;
              font-size: 0.8rem;
            }

            .title {
              font-family: "semibold";
              font-size: 0.9rem;
            }

            .menu {
              font-size: 1rem;

              .dropdown-toggle::after {
                content: none;
              }

              .dropdown-item {
                font-size: 0.8rem;
                text-align: start;
              }
            }
          }
        }
      }
    }

    .orders {
      background-color: #fff;
      padding: 2rem;
      border-radius: 20px;

      h5 {
        font-family: "medium";
        color: #011C1E;
        margin-bottom: 0;
      }

      .dropdown {
        .dropdown-toggle {
          &::after {
            content: unset;
          }
        }

        .dropdown-menu {
          .dropdown-item {
            font-family: "regular";
            font-size: .8rem;
          }
        }
      }

      .card_order {
        background-color: #FAFAFA;
        width: 48%;
        margin-top: 1rem;
        margin-inline-end: 1.5%;
        border-radius: 6px;
        display: inline-block;
        padding: 1rem;

        .title {
          font-family: "medium";
          color: #011C1E;
          font-size: .9rem;
          margin-bottom: 0;
        }

        .status {
          padding: .25rem .5rem;
          color: $PrimaryColor;
          background-color: rgba(5, 138, 148, .08);
          font-family: "regular";
          font-size: .8rem;
        }

        .position {
          font-family: "regular";
          color: #B0B9B9;
          font-size: .8rem;
        }

        .details {
          margin-top: .5rem;
          display: flex;
          justify-content: space-between;

          .price,
          .time,
          .posted {
            svg {
              color: #011C1E;
              margin-inline-end: .5rem;
            }

            span {
              color: #828C8D;
              font-family: "regular";
              font-size: .8rem;
            }
          }
        }

        .description {
          margin: 1rem 0;
          font-family: "regular";
          color: #596364;
          font-size: .8rem;
        }

        .job_applicants {
          display: flex;
          align-items: center;
          font-size: .8rem;

          svg {
            color: #828C8D;
            margin-inline-end: .5rem;

          }

          span {
            color: #828C8D;
            font-family: "regular";
            margin-bottom: 0;
            margin-inline-end: .5rem;
          }

          p {
            color: #011C1E;
            font-family: "medium";
            margin-bottom: 0;
          }
        }
      }
    }

    .employment_rate {
      background-color: #fff;
      padding: 2rem;
      border-radius: 20px;
      margin: 1rem 0;
      h5 {
        font-family: "medium";
        color: #011C1E;
        margin-bottom: 0;
      }
      .dropdown {
        .dropdown-toggle {
          background-color: rgba(143, 146, 161, .05);
          font-family: "regular";
          font-size: .8rem;
        }
        .dropdown-menu {
          .dropdown-item {
            font-size: .8rem;
            font-family: "regular";
          }
        }
      }
    }

    .departments {
      background-color: #fff;
      padding: 1.5rem;
      border-radius: 20px;
      width: 100%;
      display: inline-block;
      .dropdown-toggle::after {
        content: none;
      }
      .dropdown-item {
        font-size: 0.8rem;
        text-align: start;
        font-family: "regular";
      }
      .card_department {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 1.5rem;
        .title {
          font-family: "medium";
          color: #011C1E;
          margin-bottom: 0;
        }
        .tag {
          font-family: "regular";
          color: #828C8D;
          font-size: .8rem;
        }
        .circle {
          background-color: $SecondColor;
          color: #fff;
          display: flex;
          align-items: center;
          justify-content: center;
          font-size: .8rem;
          font-family: "regular";
          width: 35px;
          height: 35px;
          border-radius: 50%;
        }
        &:last-child {
          margin-bottom: 0;
        }
      }
      .add_department {
        border: 1px solid $PrimaryColor;
        color: $PrimaryColor;
        text-decoration: none;
        font-family: "regular";
        width: 100%;
        display: block;
        padding: .75rem;
        font-size: .8rem;
        border-radius: 5px;
        text-align: center;
        transition: .7s ease-in-out;
        &:hover {
          background-color: $PrimaryColor;
          color: #fff;
          transition: .7s ease-in-out;
        }
      }
    }

    .visitors_year {
      background-color: #fff;
      padding: 1.5rem;
      border-radius: 20px;
      width: 100%;
      display: inline-block;
      .number_visitor_year {
        p {
          margin-bottom: 0;
          font-family: "medium";
          color: #171717;
          font-size: 1.2rem;
        }
        span {
          font-family: "regular";
          color: #8F92A1;
          font-size: .8rem;
        }
      }
      .increase {
        color: $SecondColor;
        font-family: "regular";
        svg {
          margin-inline-end: .5rem;
        }
      }
    }

    .emplyees_locations {
      background-color: #fff;
      padding: 2rem;
      border-radius: 20px;
      margin: 1rem 0;
      h5 {
        font-family: "medium";
        color: #011C1E;
        margin-bottom: 0;
      }
      img {
        width: 90%;
        height: 380px;
        display: block;
        margin: 0 auto;
      }
      .statistics {
        width: 90%;
        margin: 0 auto;
        .increase {
          display: flex;
          justify-content: space-between;
          align-items: center;
          margin-top: 2rem;
          margin-bottom: 3rem;
          .customers {
            p {
              margin-bottom: 0;
              font-family: "regular";
              color: #171717;
              font-size: 1.4rem;
            }
            span {
              font-family: "regular";
              color: #8F92A1;
              font-size: .8rem;
            }
          }
          .increase_number {
            color: $PrimaryColor;
            font-family: "regular";
          }
        }
        .card_emplyees_locations {
          display: flex;
          align-items: center;
          justify-content: space-between;
          padding: 1rem;
          border-radius: 16px;
          margin-bottom: 1rem;
          &:last-child {
            margin-bottom: 0;
          }
          &:nth-child(2) {
            background-color: rgba(5, 138, 148, .05);
          }
          &:nth-child(3) {
            background-color: rgba(228, 170, 60, .05);
          }
          &:nth-child(4) {
            background-color: rgba(210, 86, 86, .05);
          }
          &:nth-child(5) {
            background-color: rgba(0, 82, 204, .05);
          }
          &:nth-child(6) {
            background-color: rgba(109, 204, 0, .05);
          }
          &:nth-child(7) {
            background-color: rgba(245, 255, 0, .05);
          }
          p {
            margin-bottom: 0;
            font-family: "regular";
            color: #171717;
          }
        }
      }
    }

    .staff_rate {
      background-color: #fff;
      padding: 1.5rem;
      border-radius: 20px;
      width: 100%;
      display: inline-block;
      .dropdown-toggle::after {
        content: none;
      }
      .dropdown-item {
        font-size: 0.8rem;
        text-align: start;
        font-family: "regular";
      }
      .card_staff_rate {
        width: 23%;
        margin-inline-end: 1%;
        display: inline-block;
        background-color: #FAFAFA;
        border-radius: 6px;
        padding: 1rem;
        img {
          width: 70px;
          height: 70px;
          border-radius: 50%;
        }
        .name {
          margin-top: .5rem;
          margin-bottom: 0;
          font-family: "medium";
          color: #011C1E;
          font-size: 1rem;
        }
        .title {
          font-family: "regular";
          color: $PrimaryColor;
          font-size: .8rem;
          margin-bottom: 1rem;
          display: block;
        }
        .time, .date {
          color: #828C8D;
          font-family: "regular";
          font-size: .8rem;
          margin-bottom: .5rem;
        }
      }
    }
  }
}

/* ======= 4K style ======= */

@media (min-width: 1600px) and (max-width: 2600px) {
  .container {
    max-width: 1600px;
  }
}

/* ======= 4K style ======= */

@media only screen and (max-width: 1200px) {
  .index_cards {
    .content {
      .flex-tab {
        flex-direction: column;

        .nav-pills {
          width: 100%;
          flex-direction: row !important;
          margin-bottom: 1rem;

          .nav-link {
            width: 48%;
            margin-inline-end: 2%;
          }
        }
      }

      .nav-pills {
        padding-inline-end: 2%;

        .nav-link {
          font-size: .8rem;
          padding: .5rem;
        }
      }

      .tab-content {
        .data {
          .form-group {
            svg {
              left: 2%;
            }
          }
        }

        form.data {
          width: 100%;
        }

        .tab-pane {
          .company_form_info {
            flex-direction: column;
          }
        }

        .avatar-upload {
          margin-bottom: 2rem;
        }

        .data {
          width: 100%;
          margin-inline-start: 0;
        }
      }
    }
  }
}

@media only screen and (max-width: 991.98px) {
  .index_cards {
    .content {
      .emplyees_locations {
        img {
          height: 350px;
          margin-top: 1rem;
        }
        .statistics {
          .card_emplyees_locations {
            width: 48%;
            margin-inline-end: 1%;
            display: inline-flex;
          }
        }
      }
      .staff_rate {
        .card_staff_rate {
          width: 48%;
          margin-top: 1rem;
        }
      }
      .orders {
        .card_order {
          .details {
            flex-direction: column;
            .price, .time, .posted {
              margin-bottom: .5rem;
            }
          }
          .job_applicants {
            font-size: .7rem;
          }
        }
      }
    }
  }
}

@media only screen and (max-width: 600px) {
  .tableAllProjects {
    padding: 1rem 1rem 5rem !important;

    .dataTables_length {
      position: absolute;
      bottom: 0;
      right: 10%;
      left: 10%;
      width: 80%;
    }
  }
  .sidebar.open {
    .nav-pills {
      .nav-item {
        width: 20%;

        .nav-link {
          span {
            font-size: .5rem;
          }
        }

        &.disable_mobile {
          display: none;
        }
      }
    }
  }

  .navbar .d-flex.w-25 {
    width: 50% !important;
  }

  .index_cards {
    .content {
      .orders {
        .card_order {
          width: 100%;
          margin-inline-end: 0;
          margin-bottom: .5rem;
        }
      }
      .departments {
        .card_department {
          .department_title {
            width: 70%;
          }
        }
      }
      .emplyees_locations {
        img {
          height: 200px;
        }
        .statistics {
          .card_emplyees_locations {
            width: 100%;
          }
        }
      }
      .staff_rate {
        .card_staff_rate {
          width: 100%;
          margin-inline-end: 0;
        }
      }
    }
  }
}