$PrimaryColor: #1E335F;
$SecondColor: #EA5F0F;
$PrimaryText: #011c1e;
$SecondText: #5C5C6B;

@font-face {
  font-family: "light";
  src: url("../fonts/alfont_com_Somar-Light.otf");
}

@font-face {
  font-family: "regular";
  src: url("../fonts/alfont_com_Somar-Regular.otf");
}

@font-face {
  font-family: "semibold";
  src: url("../fonts/alfont_com_Somar-Medium.otf");
}

@font-face {
  font-family: "bold";
  src: url("../fonts/alfont_com_Somar-Bold.otf");
}

@import "./_navBar.scss";
@import "./_sideBar.scss";
@import "./_auth.scss";

body {
  overflow-x: hidden;
  direction: ltr;
  background-color: #F0F2F3;
}

.accordion-button {
  text-align: start !important;
}

.chart-container {
  height: 70vh;
  width: 100%;
  position: relative;
}

table tbody tr td {
  vertical-align: middle;
}

.swal2-title {
  font-family: "semibold";
  font-size: 0.9rem !important;
  margin: 0 !important;
  color: $PrimaryText;
}

.swal2-container.swal2-center > .swal2-popup {
  padding: 1.5rem;
}

table {
  border-collapse: collapse;
  margin: 2rem 0 0;
  padding: 0;
  width: 100%;
  table-layout: fixed;
}

table caption {
  font-size: 1.5em;
  margin: .5em 0 .75em;
}

table {
  thead {
    tr {
      padding: .35em;
      th {
        background-color: #DADADF;
      }
    }
}
  tbody {
    tr {
      &:nth-child(odd) {
        background-color: #EEF1F8;
      }
      &:nth-child(even) {
        background-color: #fff;
      }
    }
  }
}

table th,
table td {
  padding: .625em;
  text-align: center;
  font-size: .8rem;
}

table th {
  font-size: .85em;
  letter-spacing: .1em;
  text-transform: uppercase;
}

.PrimaryButton {
  background-color: $SecondColor;
  font-family: "semibold";
  color: #fff;
  font-size: .8rem;
  padding: .75rem;
  transition: .7s ease-in-out;
  &:hover {
    background-color: transparent;
    color: $SecondColor;
    border: 1px solid $SecondColor;
    transition: .7s ease-in-out;
  }
}

.SecondButton {
  background-color: $PrimaryColor;
  font-family: "semibold";
  color: #fff;
  font-size: .8rem;
  padding: .75rem;
  transition: .7s ease-in-out;
  &:hover {
    background-color: transparent;
    color: $PrimaryColor;
    border: 1px solid $PrimaryColor;
    transition: .7s ease-in-out;
  }
}

.index_cards {
  background-color: #F0F2F3;
  .content {
    background-color: #fff;
    border-radius: 10px;
    width: 95%;
    padding: 1.5rem;
    margin: 1.2rem auto;
    .title {
      font-family: "bold";
      color: $PrimaryColor
    }
    .clients {
      .search {
        width: 40%;
        .form-group {
          position: relative;
          width: 65%;
          svg {
            position: absolute;
            top: 0.9rem;
            left: 0.5rem;
            color: $SecondText;
          }
          input {
            font-family: "regular";
            color: $SecondText;
            font-size: .8rem;
            padding: .75rem;
            padding-inline-start: 2rem;
          }
        }
        .btn {
          width: 35%;
          margin-inline-start: 1rem;
        }
      }
    }
    form {
      .form-group {
        margin-bottom: 1rem;
        label {
          font-family: "regular";
          margin-bottom: .5rem;
          font-size: .9rem;
        }
        input {
          background-color: #EDEDF1;
          font-size: .8rem;
          padding: .7rem
        }
      }
      .PrimaryButton {
        padding: .75rem 3rem
      }
    }
  }
}

@import "./_responsive.scss";
