@media only screen and (max-width: 1200px) {
    .index_cards {
      .content {
        .flex-tab {
          flex-direction: column;
  
          .nav-pills {
            width: 100%;
            flex-direction: row !important;
            margin-bottom: 1rem;
  
            .nav-link {
              width: 48%;
              margin-inline-end: 2%;
            }
          }
        }
  
        .nav-pills {
          padding-inline-end: 2%;
  
          .nav-link {
            font-size: 0.8rem;
            padding: 0.5rem;
          }
        }
  
        .tab-content {
          .data {
            .form-group {
              svg {
                left: 2%;
              }
            }
          }
  
          form.data {
            width: 100%;
          }
  
          .tab-pane {
            .company_form_info {
              flex-direction: column;
            }
          }
  
          .avatar-upload {
            margin-bottom: 2rem;
          }
  
          .data {
            width: 100% !important;
            margin-inline-start: 0;
          }
        }
  
        .job_details {
          .modal {
            .modal-dialog {
              max-width: 50%;
            }
          }
        }
      }
    }
  }